######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
*.tmp
*.tar.gz
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz
*.exe
*.dll
*.lib
*.obj
*.o
*.a
*.so
*.deb
*.rpm
*.tar.gz
*.zip
*.7z
*.rar
*.tar
*.gz
*.bz2
*.xz
build/*
build/
dist/*
dist/
vendor/
.vscode/